{% extends "base.html" %}
<!-- inject the block content tag in base.html-->
{% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title">Login</h3>
	<div class="box">
	{%- set messages = get_flashed_messages() -%}
	{%- if messages -%}
		<div class="notification is-danger">
			{{ messages[0] }}
		</div>
	{%- endif %}
		<form method="POST" action="/login">
			{% for name,field in form._fields.items() -%}
			<div class="field">
				<div class="control">
					{% if field.type == 'StringField' or field.type == 'PasswordField'-%}
						{{ field(class_="input is-large",placeholder=name) }}
					{%- elif field.type == 'SubmitField'-%}	
						{{ field(class_="button is-block is-info is-large is-fullwidth",placeholder=name) }}
					{%- else -%}
						{{ field }}
					{%- endif %}
				</div>
			</div>
			{%- endfor %}
		</form>
	</div>
</div>
{%- endblock -%}